.main {
    border: 1px solid #000;
    font-size: 34px;
    background: #888;
    height: 50px;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin: 10px;
}

.test1 {
    padding: 0;
}

.test2 {
    padding: 3px;
}